<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telenor.connect.mobileconnectexample" >

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.telenor.connect.mobileconnectexample.ExampleApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.telenor.connect.mobileconnectexample.SignedInActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.telenor.connect.mobileconnectexample.SignInActivity" />
        <activity
            android:name="com.telenor.connect.ui.ConnectActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <meta-data
            android:name="com.telenor.connect.USE_STAGING"
            android:value="true" />
    </application>

</manifest>
