<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telenor.connect.connectidexample" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ExampleApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".SignedInActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" >
            <!-- enable this filter to activate chrome custom tabs and sso <intent-filter>
                <data android:scheme="@string/connect_redirect_uri_scheme" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.telenor.connect.ui.ConnectActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />

        <meta-data
            android:name="com.telenor.connect.CLIENT_ID"
            android:value="@string/connect_client_id" />
        <meta-data
            android:name="com.telenor.connect.REDIRECT_URI"
            android:value="@string/connect_redirect_uri" />
    </application>

</manifest>
