<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.telenor.connect"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.telenor.mobileconnect.ui.OperatorSelectionActivity">
        </activity>
    </application>
</manifest>
