<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telenor.connect.tests" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk android:minSdkVersion="15" />

    <application>
        <activity android:name="com.telenor.connect.TestActivity" android:label="tests" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.telenor.connect.CLIENT_ID"
            android:value="@string/connect_client_id" />
        <meta-data
            android:name="com.telenor.connect.REDIRECT_URI"
            android:value="@string/connect_redirect_uri" />
    </application>

</manifest>
